
<div class="main" data-page-id="index">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-md-4"></div>
			<div class="col-xs-8 col-md-8">
				<em>Search by city, county name or zip code</em>
		<%= form_tag centers_path,  class: "form-search", :method => :get do %>
				<%= text_field_tag :search, params[:search], class:"input-medium search-query" %>
				<%=submit_tag "Search", :name => nil,  class: "btn btn-small btn-info" %>			
		<% end %>
			</div>
			<div class="col-xs-2 col-md-2"></div>
		</div>

		<div class="row">
			<div class="col-xs-6 col-md-6 search-list">
			<p class="search-stats"><%= @total == 0 ? "No Health Centers Found" : "#{@total} Health Centers Found" %></p>
			<%= will_paginate @search.hits unless @search.nil? %>	
		
		<ul>
			
			<% @centers.each do |center| %>
				<li class=<%= "#{center.location_type_desc.downcase}"%> id=<%=" cal-#{center.op_calendar.downcase}" %>  >
					<h4><%= link_to center.site_name, center %></h4>
					
					<% if center.website == "unkn" || center.website == "" || center.website == nil %>
					  Website unavailable</br>
					<% else %>
					    <%= link_to center.website, "http://#{center.website}", class: "search-link" %> <br>
					<% end %>
					<p><%= center.address %>, <%= center.city %>, 
					<%= center.state %>, <%= center.zip_code %><br> <%= center.full_county_name %><br>

					<em>Phone:</em> <%= center.phone_number ? "#{center.phone_number}" : "Not Available"%><br>
					<em>Fax:</em> <%= center.fax_number ? "#{center.fax_number}" : "Not Available"%><br>
					<em>Admin #:</em> <%= center.admin_number ? "#{center.admin_number}" : "Not Available" %></p>
					

					<%= center.site_status.downcase %> <br>
					
					<%= center.longitude %>, <%= center.latitude %><br>
					
				</li>

			<% end %>
			
		</ul>
		<%= will_paginate @search.hits unless @search.nil? %> 
		
		</div>

			<div class="col-xs-6 col-md-6">
				<div class="container-fluid" id="map-canvas" data-query="<%= params[:search] %>" data-page="<%= @page %>">
        			<!--<leaflet markers="mapMarkers"></leaflet>-->

      			</div>
			</div>

		</div>
	</div>
</div>
