
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="center-status">
				<p>Status: <em>
					<%= @center.site_status %> |
					<%= @center.location_type_desc %> |
					<%= @center.center_type_desc %> |
					<%= @center.op_schedule_desc %> |
					<%= @center.op_calendar %> </em></p>
			</div>	
			<div class="center-info">
				<h4><%= @center.site_name %></h4>
				<div class="col-xs-4">
				<p style="margin-left:-15px;"><em>Phone:</em> <%= @center.phone_number %><br>
					<em>Fax:</em> <%= @center.fax_number %><br>
					<em>Admin #:</em> <%= @center.admin_number %><br>
					 
					<% if @center.website == "unkn" || @center.website == "" %>
					  <em>website:</em> N/a </br>
					<% else %>
					  <em>website:</em><%= link_to @center.website, "http://#{@center.website}" %><br>
					<% end %></p></div>
					<div class="col-xs-4">
					<p><strong style="display:block;">Address</strong>
					<%= @center.address %><br>
					<%= @center.city %>,
					<%= @center.state %>,
					<%= @center.zip_code %> </br> <%= @center.full_county_name %></p>
					</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="center-map">
				<p>Map: <%= @center.longitude %>, <%= @center.latitude %></p>
			</div>
		</div>
	</div>
</div>