<div class="main" data-page-id="show" >
<div class="container">
	<div class="row">
		
		<div class="col-md-6 col-md-offset-3">
			<div class="center-map">
				
				<div class="container-fluid" id="map" data-center-id="<%= @center.id %>">
        			
      			</div>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="center-status">
				<p>Status: <em>
					<%= @center.site_status %> |
					<%= @center.location_type_desc %> |
					<%= @center.center_type_desc %> |
					<%= @center.op_schedule_desc %> |
					<%= @center.op_calendar %> </em></p>
			</div>	
			<div class="center-info">
				<h4><%= @center.site_name %></h4>
				<p><% if @center.website == "unkn" || @center.website == "" || @center.website == nil || @center.website == "na" %>
					   Website Unavailable 
					<% else %>
					  <%= link_to @center.website, "http://#{@center.website}" %>
					<% end %></p>
				<div class="col-xs-6">
				<p style="margin-left:-15px;"><strong style="display:block;">Contact</strong>
					<em>Phone:</em> <%= @center.phone_number ? "#{@center.phone_number}" : "Not Available"%><br>
					<em>Fax:</em> <%= @center.fax_number ? "#{@center.fax_number}" : "Not Available"%><br>
					<em>Admin #:</em> <%= @center.admin_number ? "#{@center.admin_number}" : "Not Available" %><br>
					 
					</p></div>
					<div class="col-xs-6">
					<p><strong style="display:block;">Address</strong>
					<%= @center.address %><br>
					<%= @center.city %>,
					<%= @center.state %>,
					<%= @center.zip_code %> </br> <%= @center.full_county_name %></p>
					</div>
			</div>
		</div>
		
	</div>
</div>
</div>